<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groupb1.phonefreedom">
    // permission to send SMS. TODO: User needs to confirm this.
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pr_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneFreedomGruppeB1">
        <service android:enabled="true"
            android:name=".services.ServiceDisturb">
        </service>
        <service android:enabled="true"
            android:name=".services.ServiceAutoReply">
        </service>
        <activity
            android:name="com.groupb1.phonefreedom.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addPreset.AddPresetActivity" />
        <activity android:name=".presetDetail.PresetDetailActivity" />
        <activity android:name=".appManager.DnDOnActivity" />
        <activity android:name=".appManager.DnDOffActivity" />
        <activity android:name=".sms.SmsActivity"/>
        <activity android:name=".appManager.AutoReplyManager"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".receivers.PhoneCallReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>